# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials

# --- this_is_ruby: begin ---
public/400.html linguist-generated
public/404.html linguist-generated
public/406-unsupported-browser.html linguist-generated
public/422.html linguist-generated
public/500.html linguist-generated
app/javascript/** linguist-vendored
# --- this_is_ruby: end ---
